html,body{
    background:#FFF;
    margin:0;
}
.content{
    color:#000;
    font:12px/1.4 "helvetica neue",arial,sans-serif;
    margin:20px auto;
    max-width:820px
}
h1{
    font-size:12px;
    font-weight:normal;
    color:#000;
    margin:0;
}
p{
    margin:0 0 20px
}
a {
    color:#000;
    text-decoration:none;
}
.cred{
    margin-top:20px;
    font-size:11px;
}

/* Gallery measures that will be applied */

#galleria {
    height:620px; /* defines a static gallery height */
    width:920px; /* defines a responsive width */
}

.galleria-tooltip{
    padding:3px 8px;
    max-width:50%;
    background:#ffe;color:#000;
    z-index:3;
    position:absolute;
    font-size:11px;
    line-height:1.3;
    opacity:0;
    box-shadow:0 0 2px rgba(0,0,0,.4);
    -moz-box-shadow:0 0 2px rgba(0,0,0,.4);
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.4);
}

.galleria-lightbox-overlay{
    position:fixed;
    display:none;
    opacity:0.85;
    filter:alpha(opacity=85);
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#0b0b0b;
    z-index:99990
}
.galleria-lightbox-box{
    position:fixed;
    display:none;
    width:400px;
    height:400px;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-200px;
    z-index:99991
}
.galleria-lightbox-shadow{
    position:absolute;
    background:#000;
    width:100%;
    height:100%;
}
.galleria-lightbox-content{
    position:absolute;
    background-color:#fff;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    overflow:hidden
}
.galleria-lightbox-info{
    position:absolute;
    bottom:10px;
    left:10px;
    right:10px;
    color:#444;
    font:11px/13px arial,sans-serif;
    height:13px
}
.galleria-lightbox-close{
    position:absolute;
    top:10px;
    right:10px;
    height:20px;
    width:20px;
    background:#fff;
    text-align:center;
    cursor:pointer;
    color:#444;
    font:16px/22px arial,sans-serif;
    z-index:99999
}
.galleria-lightbox-image{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:30px;
    overflow:hidden;
    display:block;
}
.galleria-lightbox-prevholder{
    position:absolute;
    width:50%;
    top:0;
    bottom:40px;
    cursor:pointer;
}
.galleria-lightbox-nextholder{
    position:absolute;
    width:50%;
    top:0;
    bottom:40px;
    right:-1px;
    cursor:pointer;
}
.galleria-lightbox-prev{
    position:absolute;
    top:50%;
    margin-top:-20px;
    height:40px;
    width:30px;
    background:#fff;
    left:20px;
    display:none;
    text-align:center;
    color:#000;
    font:bold 16px/36px arial,sans-serif
}
.galleria-lightbox-next{
    position:absolute;
    top:50%;
    margin-top:-20px;
    height:40px;
    width:30px;
    background:#fff;
    right:20px;
    left:auto;
    display:none;
    font:bold 16px/36px arial,sans-serif;
    text-align:center;
    color:#000
}
.galleria-lightbox-title{
    float:left
}
.galleria-lightbox-counter{
    float:right;
    margin-left:8px;
}
.galleria-lightbox-box.iframe .galleria-lightbox-prevholder,.galleria-lightbox-box.iframe .galleria-lightbox-nextholder {
    width:100px;
    height:100px;
    top:50%;
    margin-top:-70px
}